section.about
  .container.clearfix
    .about_content
      h2.title «Название компании»
      .about_subtitle
        p Интернет-магазин мотоциклов и все для них
      article
        p В рамках спецификации современных стандартов, реплицированные с зарубежных источников, современные исследования, вне зависимости от их уровня, должны быть разоблачены. Принимая во внимание показатели успешности, постоянный количественный рост и сфера нашей активности напрямую зависит от
      a(href="#").btn.btn--danger Подробнее
        svg(height="15", width="30")
          use(xlink:href="#icon-arrow-right")
    .about_img
      img(src="uploads/about-car-img.png", width="365", height="324", alt="Car Image")
      