section.feautures
  .container
    ul.feautures_menu.clearfix
      li
        .clearfix
          svg(height="60", width="75")
            use(xlink:href= "#icon-box")
          span Бесплатная доставка
            br
            | от 22 000 руб.
      li
        .clearfix
          svg(height="64", width="64")
            use(xlink:href= "#icon-timing-belt")
          span Качественная подготовка
            br
            | мотоциклов
      li
        .clearfix
          svg(height="60", width="57")
            use(xlink:href= "#icon-comment")
          span Профессиональные
            br
            | консультации
      li
        .clearfix
          svg(height="64", width="64")
            use(xlink:href= "#icon-wrench")
          span Бесплатное обслуживание
            br
            | в течении 90 ДНЕЙ!

