ul.feautures-pages_menu.clearfix
  li
    .clearfix
      svg(height="60", width="75")
        use(xlink:href= "#icon-box")
      span Бесплатная доставка
        br
        | по Крыму
  li
    .clearfix
      svg(height="64", width="64")
        use(xlink:href= "#icon-timing-belt")
      span Качественная подготовка
        br
        | товаров
  li
    .clearfix
      svg(height="60", width="57")
        use(xlink:href= "#icon-comment")
      span Профессиональные
        br
        | консультации