section.news
  .container
    .news_block.clearfix
      .news_text
        h2.title
          span Последние 
          | новости
        p Равным образом, курс на социально ориентированный национальный проект однозначно определяет каждого участника как способного
        a(href="#").btn.btn--grey Все новости
          svg(height="15", width="30")
            use(xlink:href="#icon-arrow-right")
      .news_stock-wrap
        .news_stock
          span.label АКЦИЯ
          h6 Приведи друга
            span и получи скидку 
              small 5%
          a(href="#").btn.btn--white Подробнее
            svg(height="15", width="30")
              use(xlink:href="#icon-arrow-right")
          span.stock-label 5
            small %
      .news_info
        a(href="#").news_info-item.news_info-item--lg
          span.date 10.10.2019
          h5 Singer GP – самая быстрая швейная машинка в мире
          span.link Читать
            svg(height="15", width="30")
              use(xlink:href="#icon-arrow-right")
        .clearfix
          .news_info-col
            a(href="#").news_info-item.news_info-item--sm
              span.date 10.10.2019
              h5 Singer GP – самая быстрая швейная машинка в мире
              span.link Читать
                svg(height="15", width="30")
                  use(xlink:href="#icon-arrow-right")
          .news_info-col.clearfix
            a(href="#").news_info-item.news_info-item--sm
              span.date 10.10.2019
              h5 Singer GP – самая быстрая швейная машинка в мире
              span.link Читать
                svg(height="15", width="30")
                  use(xlink:href="#icon-arrow-right")






