.notice_wrap
  .container   
    .notice
      h2.title Вам также может быть интересно
      .clearfix
        .col
          a(href="#").box.box-3
            h5 Фары
            .box_img
              img(src="uploads/notice-moto-img-1.jpg", alt="Product image")
            span.btn.btn--blackFont Смотреть каталог
        .col
          a(href="#").box.box-3
            h5 Маслы и ГСМ
            .box_img
              img(src="uploads/notice-moto-img-2.jpg", alt="Product image")
            span.btn.btn--blackFont Смотреть каталог
        .col
          a(href="#").box.box-3
            h5 Подшипники
            .box_img
              img(src="uploads/notice-moto-img-3.jpg", alt="Product image")
            span.btn.btn--blackFont Смотреть каталог
        .col
          a(href="#").box.box-bg.box-3
            .box_img.box_img-text
              p 
                span В нашем каталоге 
                | экипировка на любой случай на дороге
            span.btn.btn--blackFont Смотреть каталог









