section.previews
  .container
    .clearfix
      .previews_right
        .previews_card.previews_card--height
          h3 Распродажа
          span.subtitle скидки до 80%
          p В каталоге более
            br
            span 150 
            | позиций
          img(src="uploads/preview-img-4.png", width="245", height="275", alt="Gloves image")
      .previews_left
        .previews_card.previews_card--width
          h3 Лучшие модели
            br
            | мотоциклов
          span.subtitle до 150 куб.см.
          img(src="uploads/preview-img-1.png", width="332", height="202", alt="Motocycle Image")
        .previews_row.clearfix
          .previews_col
            .previews_card.previews_card--sm.previews_card--sm1
              h3 Мотоэкипировка
              span.subtitle от 4 500 руб.
              p В каталоге
                br
                | 300+ позиций
              img(src="uploads/preview-img-2.png", width="142", height="189", alt="Vest image")
          .previews_col
            .previews_card.previews_card--sm.previews_card--sm2
              h3 Масла и ГСМ
              span.subtitle для вашего байка
              p Motul, Бренд 2,
                br
                | Бренд 3, Бренд 4
              img(src="uploads/preview-img-3.png", width="115", height="194", alt="Oil image")
      

















