.promo_slider
  .promo_item
    .promo_slide(style="background-image: url('uploads/promo-clouds-image.png')")
      .container
        .promo_block.clearfix
          .promo_content
            h2 HONDA VT1300 FURY
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eligendi, omnis, nobis sint soluta veritatis id nam magnam nemo architecto ut possimus fugiat iusto at officia! Blanditiis tempora, veritatis repellat officia minus assumenda obcaecati, accusantium sint, quidem culpa impedit unde rem laudantium earum, amet. Veritatis velit officiis quasi, deleniti itaque.
            a(href="#").btn.btn--default Подробнее
              svg(height="15", width="30")
                use(xlink:href="#icon-arrow-right")
          .promo_img.animated
            img(src="uploads/promo-moto-img.png", width="387", height="303", alt="Motocycle Image")
            .promo_price
              span 146 000 ₽
  .promo_item
    .promo_slide(style="background-image: url('uploads/promo-clouds-image.png')")
      .container
        .promo_block.clearfix
          .promo_content
            h2 HONDA VT1300 FURY
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eligendi, omnis, nobis sint soluta veritatis id nam magnam nemo architecto ut possimus fugiat iusto at officia! Blanditiis tempora, veritatis repellat officia minus assumenda obcaecati, accusantium sint, quidem culpa impedit unde rem laudantium earum, amet. Veritatis velit officiis quasi, deleniti itaque.
            a(href="#").btn.btn--default Подробнее
              svg(height="15", width="30")
                use(xlink:href="#icon-arrow-right")
          .promo_img.animated
            img(src="uploads/promo-moto-img.png", width="387", height="303", alt="Motocycle Image")
            .promo_price
              span 146 000 ₽
  .promo_item
      .promo_slide(style="background-image: url('uploads/promo-clouds-image.png')")
        .container
          .promo_block.clearfix
            .promo_content
              h2 HONDA VT1300 FURY
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eligendi, omnis, nobis sint soluta veritatis id nam magnam nemo architecto ut possimus fugiat iusto at officia! Blanditiis tempora, veritatis repellat officia minus assumenda obcaecati, accusantium sint, quidem culpa impedit unde rem laudantium earum, amet. Veritatis velit officiis quasi, deleniti itaque.
              a(href="#").btn.btn--default Подробнее
                svg(height="15", width="30")
                  use(xlink:href="#icon-arrow-right")
            .promo_img.animated
              img(src="uploads/promo-moto-img.png", width="387", height="303", alt="Motocycle Image")
              .promo_price
                span 146 000 ₽







